<launch>
  <arg name="sim" default="true" />
  <param name="use_sim_time" value="$(arg sim)" />

  <param name="base_frame" value="base_footprint" /> 
  <param name="odom_frame" value="odom" />
  <param name="map_frame"  value="map" />

  <param name="delta"              value="0.05"/>    
  <param name="map_update_interval" value="2.0"/>       roslaunch warehouse_simulation warehouse_simulation.launch
  <param name="maxUrange"          value="5.0"/>    
  <param name="minimumScore"       value="50"/>    
  <param name="particles"          value="80"/>    
  <param name="xmin"               value="-20.0"/>
  <param name="ymin"               value="-20.0"/>
  <param name="xmax"               value="20.0"/>
  <param name="ymax"               value="20.0"/>

  <group if="$(arg sim)">
    <param name="maxRange"         value="5.0"/>    
  </group>
  <group unless="$(arg sim)">
    <param name="maxRange"         value="5.0"/>   
  </group>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" />

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find obj_finder)/rviz/obj_finder.rviz" required="true" />
</launch>