<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="add_camera" params="name parent_link xyz rpy fov width height frame_prefix">
    
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <link name="${name}_link">
      <visual>
        <geometry>
          <box size="0.010 0.03 0.03"/>
        </geometry>
        <material name="red"/>
      </visual>
    </link>

    <joint name="${name}_optical_joint" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_link_optical"/>
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="${name}_link_optical"/>

    <gazebo reference="${name}_link">
      <material>Gazebo/Red</material>

      <sensor name="${name}_sensor" type="camera">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <camera>
          <horizontal_fov>${fov}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>${width}</width>
            <height>${height}</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>8.0</far>
          </clip>
        </camera>

        <plugin name="${name}_controller" filename="libgazebo_ros_camera.so">
        <frame_name>${name}_link_optical</frame_name>
        <camera_name>${name}</camera_name>

        <imageTopicName>${name}/image_raw</imageTopicName>
        <cameraInfoTopicName>${name}/camera_info</cameraInfoTopicName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
