<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />

    <xacro:add_camera
        name="camera1"
        parent_link="chassis"
        xyz="0.305 0 1.08"
        rpy="0 0.174533 0"
        fov="1.089"
        width="640"
        height="480"
        frame_prefix="camera1"/>

    <xacro:add_camera
        name="camera2"
        parent_link="chassis"
        xyz="0.305 0 0.58"
        rpy="0 0.174533 0"
        fov="1.089"
        width="640"
        height="480"
        frame_prefix="camera2"/>

</robot>